.overflow-scroll{
  height: 50vh;
  overflow: auto !important;
  border: 1px solid black;
  padding: 0px;
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
  .overflow-scroll{
    overflow: scroll !important;
  }
}